@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
}

/* 
font-family: "Space Grotesk", sans-serif;
  font-family: "Inter", serif;
*/
:root {
  --bg: linear-gradient(2deg, #121212 7.54%, #141b34 167.25%);
  --text: #fff;
  --primary: #3333;
  --header: #b3b3b3;
  --header2: #282828;
}
html{
  scroll-behavior: smooth;
}
body {
  background: var(--bg);
}
.container {
  width: 100vw;
  height: 100dvh; /* better for mobile than 100vh */
  font-size: 10px;
  background: var(--bg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  padding-top: 6em;
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}
/*To give the track a yellowish color*/
::-webkit-scrollbar-track {
  background: var(--bg);
}

/*Shrinking the scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

/*Removing the horizontal scrollbar*/
::-webkit-scrollbar:horizontal {
  display: none;
}

/*Giving the thumb a gradient*/
::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 20px;
}

.stars-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background-color: var(--bg); /* Background for the stars */
}

.star {
  position: absolute;
  background-color: var(--text);
  border-radius: 50%;
  opacity: 0.8;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: move-star infinite linear;
}

.container nav {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0%;
  padding: 0em 4em;
  z-index: 99999;
  /* border: 2px solid var(--text); */
}
.container nav a {
  font-size: 3em;
  font-weight: 700;
  color: var(--text);
}

.container nav .btn {
  font-size: 1.4em;
  color: var(--text);
  font-family: "Space Grotesk", sans-serif;
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8em 1.4em;
  border-radius: 5px;
}
.container nav .btn .icon {
  font-size: 15px;
}
/*  */

.container .empty_Cont {
  width: 500px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  padding: 1em 1em;
  color: var(--text);
  border-radius: 10px;
  gap: 0.5em 0px;
  position: relative;
  z-index: 4;
  /* border: 2px solid; */
}
.container .empty_Cont .icon {
  height: 200px;
}
.container .empty_Cont .txt {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--text);
  margin-top: 0.2em;
}
.container .empty_Cont .txt a {
  color: var(--text);
  margin-left: 5px;
  text-decoration: underline;
}

.container .rows {
  width: 500px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  max-height: 90vh;
  padding: 1em 1em;
  color: var(--text);
  border-radius: 10px;
  gap: 0.5em 0px;
  position: relative;
  z-index: 4;
}

.container .rows .dp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container .rows h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Inter", serif;
}
.container .rows p {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--header);
  margin-top: 0.2em;
}
.container ul {
  width: 100%;
  height: auto;
  margin-top: 2em;
}
.container ul .box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  cursor: pointer;
  margin: 1em auto;
  color: var(--text);
  /* border: 2px solid var(--text); */
}
.container ul .box:hover {
  animation: bounce-scale 0.7s 1;
}

.container ul .box .btn {
  display: flex;
  width: 700px;
  height: 65px;
  padding: 0px 27px;
  align-items: center;
  gap: 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    157deg,
    rgba(255, 255, 255, 0) 10.07%,
    rgba(255, 255, 255, 0.05) 87.64%
  );
}

.container ul .box .btn .icon {
  height: 25px;
}
.container ul .box .btn h2 {
  color: var(--text);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 39.6px */
  text-transform: capitalize;
}

@keyframes bounce-scale {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(10px) scale(1.05);
  }
}

@keyframes move-star {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/****•••••••••••MOBILE RESPONSIVENESS•••••••••••••****/
@media (max-width: 768px) {
  .container nav {
    padding: 0em 1em;
  }
  .container nav a {
    font-size: 1.8em;
  }

  .container nav .btn {
    font-size: 1.4em;
    padding: 0.8em 1em;
  }
  .container nav .btn .icon {
    font-size: 15px;
  }

  /*  */

  .container .rows {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    max-height: 90vh;
    padding: 1em 2em;
    color: var(--text);
    border-radius: 10px;
    gap: 0.5em 0px;
    position: relative;
    z-index: 4;
    padding-bottom: 10em;
  }

  .container .rows .dp {
    width: 150px;
    height: 150px;
  }
  .container .rows h2 {
    font-size: 25px;
    letter-spacing: -1px;
  }
  .container .rows p {
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  .container ul {
    margin-top: 1.5em;
  }

  .container ul .box .btn {
    display: flex;
    width: 700px;
    height: 65px;
    padding: 0px 27px;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      157deg,
      rgba(255, 255, 255, 0) 10.07%,
      rgba(255, 255, 255, 0.05) 87.64%
    );
  }

  .container ul .box .btn .icon {
    height: 25px;
  }
  .container ul .box .btn h2 {
    color: var(--text);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 39.6px */
    text-transform: capitalize;
  }
}
